{{ define "main" }}
<main>
  <article class="h-entry post{{ range .Params.categories }} cat-{{ . | urlize }}{{ end }}">
    <header class="post-header">
      <a href="{{ .Permalink }}" class="u-url">
        <time datetime='{{ .Date.Format "2006-01-02" }}' class="dt-published post-date">
          {{ .Date.Format (default "January 2, 2006" .Site.Params.dateFormat) }}
        </time>
      </a>
      {{ if .Title }}
      <h2 class="p-name">{{ .Title }}</h2>
      {{ end }}
    </header>

    <section class="e-content">{{ .Content }}</section>

    {{ partial "categories.html" . }} {{ if .Site.Params.include_conversation }}
    <footer>
      <script
        type="text/javascript"
        src="https://micro.blog/conversation.js?url={{ .Permalink }}"
      ></script>
    </footer>
    {{ end }}
  </article>
</main>
{{ end }}
