{{ define "main" }}

<main class="h-feed">
  {{ $paginator := .Paginate (where .Site.Pages.ByDate.Reverse "Type" "post") }} {{ range
  $paginator.Pages }}
  <article class="h-entry post{{ range .Params.categories }} cat-{{ . | urlize }}{{ end }}">
    <header class="post-header">
      <a href="{{ .Permalink }}" class="u-url">
        <time datetime='{{ .Date.Format "2006-01-02" }}' class="dt-published post-date">
          {{ .Date.Format (default "January 2, 2006" .Site.Params.dateFormat) }}
        </time>
      </a>
      {{ if .Title }}
      <h2>
        <a href="{{ .Permalink }}" class="p-name">{{ .Title }}</a>
      </h2>
      {{ end }}
    </header>

    {{ if .Params.custom_summary }}
    <div class="p-summary">
      <p>{{ .Summary | safeHTML }}</p>
    </div>
    {{ else }}
    <div class="e-content with-title">{{ .Content }}</div>
    {{ end }} {{ partial "categories.html" . }}
  </article>
  {{ end }} {{ partial "pagination.html" $paginator }}
</main>

{{ end }}
